*{
	font-family: "Work Sans", "Zen Kaku Gothic Antique", sans-serif;
	font-weight: 400;
  font-style: normal;
  line-height: 1.5;
  text-wrap-mode: nowrap;
}

:root {
	--textboxbg: #fff6;
	--textcolor: #000;
	--textcolor-o: #0007;
	--searchbtn: #000000;
	--searchbtncolor: #b3b3b3;
	--anm: 0.2s ease;
	--iconbg: #fff9;
	interpolate-size: allow-keywords;
}

body {
	margin: 0;
	height: calc(100vh + 2px);
	background-image: url('https://search3958.github.io/newtab/bgimg/3958bg2.webp');
	background-size: cover;
	background-position: center;
}

::-webkit-scrollbar {
	display: none
  }

.smooth {
	mask-image: paint(smooth-corners);
	mask-size: cover;
}

ins.adsbygoogle {
    display: flex !important;
    justify-content: center;
}

.hoverscale{
	transition: all 0.2s cubic-bezier(0,0,0,1);
	scale:1;
}
.hoverscale:hover{
	scale:0.93;
}
.hoverscale:active{
	scale:0.8;
}
.search-container {
	display: flex;
	align-items: center;
	backdrop-filter: blur(10px);
	background: var(--textboxbg);
	border-radius: 100px;
	padding: 8px;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50px);
	--smooth-corners: 35, 7;
}
#searchInput{
	margin:0px;
	width:220px;
	margin-right: 80px;
}
input {
	background: transparent;
	border: none;
	color: var(--textcolor);
	font-size: 24px;
	padding: 12px 20px;
	width: 300px;
	outline: none;
	transition:width 0.4s cubic-bezier(.56,0,0,1);
}

#searchInput.active{
	width: 440px;
}

input::-webkit-input-placeholder {
	color: var(--textcolor-o);
}

#searchButton {
	background: var(--searchbtn);
	mix-blend-mode: overlay;
	border: none;
	padding: 12px 24px;
	border-radius: 100px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s ease;
	position: fixed;
	top: 50%;
	left: calc(50% + 127px);
	transform: translate(-50%, -35.5px);
	--smooth-corners: 7, 4;
	color: var(--searchbtncolor);
	transition: all var(--anm),left 0.4s cubic-bezier(.56,0,0,1);
}
#searchButton.active {
	left: calc(50% + 237px);
}

#searchButton:hover {
	background: #222;
}

svg {
	width: 24px;
	height: 24px;
	fill: rgba(255, 255, 255, 0.8);
}

.history{
    position: fixed;
	top: calc(50% + 63px);
	width:40px;
	height:8px;
	left: 50%;
	transform: translate(-50%, -50%);
	display:flex;
	backdrop-filter: blur(10px);
	background: var(--textboxbg);
	border-radius: 100px;
	gap:16px;
	padding:16px 24px;
	padding-bottom:14px;
	padding-right: 14px;
	transition: all 0.4s cubic-bezier(0.25, 0.09, 0, 1);
	justify-content: center; /* 横方向の中央 */
  align-items: center;     /* 縦方向の中央 */
  overflow:hidden;
  white-space:nowrap;
}
.history:hover{
	top: calc(50% + 75px);
	width:fit-content;
	height:fit-content;
}
.historytext{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition:all 0.4s ease;
	filter:blur(0px);
	opacity:1;
	white-space:nowrap;
}
.history:hover > .historytext{
	filter:blur(8px);
	opacity:0;
}

#clearButton{
	filter:blur(0px);
	opacity:0;
}
.history:hover > #clearButton{
	filter:blur(0px);
	opacity:1;
}

#historyList{
	display:flex;
	gap:16px;
	transition:all 0.4s ease;
	opacity:0;
	filter:blur(8px);
	white-space:nowrap;
}
.history:hover > #historyList{
	filter:blur(0px);
	opacity:1;
}
.linkhistory {
    background: #fff3;
    width: fit-content;
    padding: 27px 24px;
    padding-bottom: 0px;
    border-radius: 79px;
    margin: 0 auto;
    margin-top: 24px;
}
.empty-history {
  color: var(--textcolor-o);
  font-size: 14px;
  white-space: nowrap;
  padding: 40px;
}
.history:hover .empty-history {
  display: none;
}
a{
	color: #000;
    text-decoration: none !important;
}
#clearButton{
	background:none;
	border:none;
}
.deleteicon{
	fill:#000!important;
}
.bg{
	pointer-events: none;
	background:#fff0;
	backdrop-filter: blur(0);
	transition: background 0.4s ease, backdrop-filter 0.4s ease;
	height:100vh;
	width:100vw;
	position:fixed;
	top:0px;
	right:0px;

}
.bg.active{
	pointer-events: auto;
	background:rgba(255, 255, 255, 0.307);
	backdrop-filter: blur(32px);
}
.shortcut{
	overflow: scroll;
	transition: all 0.4s cubic-bezier(.34,0,.03,1.01), height 0s ease;
	height:100vh;
	width:100vw;
	position:fixed;
	top:300px;
	right:0px;
	pointer-events: none;
	filter:blur(40px);
	opacity: 0;
}
.shortcut.active{
	pointer-events: auto;
	top:0px;
	filter:blur(0px);
	opacity: 1;
}
img{
	height:110px;
	width:110px;
	padding:0px;
	margin:0px;
	transition: all 0.4s cubic-bezier(0,0,0,1);
	scale:1;
	transform: translate3d(0, 0, 40px);
}
img:hover{
	scale:1.1;
	transform: translate3d(var(--moveX), var(--moveY), 60px);
}
.icon-wrapper{
	height:110px;
	padding:0px;
	width:fit-content;
	border-radius:30px;
	-webkit-mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg"><path d="M 0 80 C 0 28, 28 0, 80 0 S 160 28, 160 80, 132 160 80 160, 0 132, 0 80" fill="white"/></svg>');
	mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 160 160" xmlns="http://www.w3.org/2000/svg"><path d="M 0 80 C 0 28, 28 0, 80 0 S 160 28, 160 80, 132 160 80 160, 0 132, 0 80" fill="white"/></svg>');
	transition: all 0.4s cubic-bezier(0,0,0,1);
	scale:1;
	mask-repeat: no-repeat;
	mask-size: cover;
	-webkit-mask-repeat: no-repeat;
	-webkit-mask-size: cover;
	transform-style: preserve-3d;
	transform: translate3d(0, 0, 0) rotateX(0deg) rotateY(0deg);
}
.icon-wrapper:hover {
	transform: translate3d(var(--moveX), var(--moveY), 20px) rotateX(var(--rotateX)) rotateY(var(--rotateY));
	scale:1.08;
}
.linkbox-label{
    width: 110px;
    text-align: center;
	margin-top:8px;
}
.linkbox{
	width:110px;
	transform-style: preserve-3d;
	perspective: 800px;
	transform: translate3d(0, 0, 0);
}
link-box {
    width: fit-content;
    display: block;
}
.links {
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
}
.linkbox-anchor{
	width: 110px;
    display: block;
	margin: 8px 12px;
	transition: transform 0.2s ease;
	transform-style: preserve-3d;
}
.linkbox-anchor:hover {
	transform: rotateX(var(--rotateX)) rotateY(var(--rotateY));
}
.linktext {
    text-align: center;
    font-size: 24px;
    margin: 16px 0px;
}
.settingcard {
    display: flex;
    gap: 8px;
	margin: 8px 0px;
}
input#bgUrlInput {
    font-size: 24px;
    width: 362px;
    background: var(--textboxbg);
    border-radius: 100px;
}

.settingbtn {
    padding: 0px 24px;
    border-radius: 100px;
    border: none;
    width: 100%;
    background: #fff9;
    height: 48px;
}
.settingtext{
	padding: 12px 20px;
	font-size: 24px;
}
.widgetcontainer {
    display: flex;
    gap: 20px;
    position: fixed;
    bottom: 16px;
    transform: translateX(-50%);
    left: 50vw;
}
h3 {
    margin: 0px;
    margin-bottom: 8px;
}

.pill {
	border-radius: 100px;
	padding: 0px 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background: var(--textboxbg);
	backdrop-filter: blur(8px);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	width: fit-content;
	height: 60px;
  }

  .pill.battery {
		width: 50px;
  }
  .pill.tool {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	padding:0px 6px;
	gap:4px;
  }
  .date {
	font-size: 1.2em;
	font-weight: bold;
  }

  .weekday {
	font-size: 0.7em;
	color: #333;
  }

  .percentage {
	font-size: 1.2em;
	font-weight: bold;
  }
  .pillicon{
	background:#fff3;
	padding:12px;
	border-radius:100px;
	height:24px;
  }
  .plgl{
	fill: #000 !important;;
  }
  #time{
	width:fit-content;
	font-size:20px;
  }
  .bar{
	background: var(--textboxbg);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1);
	padding:10px 16px;
	width:fit-content;
	border-radius:100px;
	position:fixed;
	top:8px;
	right:8px;
	backdrop-filter: blur(8px);
	padding-right: 100px;
  }

  .settings {
	opacity: 0;
	display: block;
    flex-wrap: wrap;
	justify-content: flex-end;
	width:400px;
	padding:16px;
	position:fixed;
	top:-80px;
	right:-200px;
	transition: all 0.5s cubic-bezier(.4,0,0,1);
	scale:0;
	filter:blur(60px);
	backdrop-filter: blur(24px);
	overflow: hidden;
	padding-bottom: 8px;
  }
  
  .settings.active {
    opacity: 1;
	scale: 1;
	top:65px;
	right:8px;
	filter:blur(0px);
    background: var(--textboxbg);
	border-radius: 37px;
}
#setting{
	background: var(--searchbtn);
    mix-blend-mode: overlay;
	color:#fff;
	position:fixed;
    top: 11px;
    right: 59px;
	border:none;
	border-radius:100px;
	padding: 10px 10.5px;
	padding-bottom: 4px;
}

#aisearch{
	mix-blend-mode: hard-light;
	background: linear-gradient(140deg, rgba(0, 57, 131, 0.8) 0%, rgba(62, 0, 83, 0.8) 100%);
	color:#fff;
	position:fixed;
    top: 11px;
    right: 11.5px;
	border:none;
	border-radius:100px;
	padding: 10px 10.5px;
	padding-bottom: 4px;
}
#aisearch.active{
	background: linear-gradient(140deg, rgba(20, 106, 255, 0.8) 0%, rgba(108, 0, 240, 0.8) 100%);
}

.aibg {
	mix-blend-mode: hard-light;
    position: fixed;
    top: 50vh;
    right: 50vw;
    width: 0vw;
    height: 0vh;
    background-color: rgba(188, 212, 225, 0.8);
    background-image: radial-gradient(at 0% 100%, rgba(255, 0, 64, 0.7) 0px, transparent 30%), radial-gradient(at 84% 74%, rgba(0, 140, 255, 0.7) 0px, transparent 30%), radial-gradient(at 0% 0%, rgba(255, 162, 0, 0.7) 0px, transparent 30%);
    filter: blur(150px);
    opacity: 0;
    border-radius: calc(40vh + 40vw);
    transition: 0.5s cubic-bezier(0.34, 0, 0, 1);
	pointer-events: none;
	z-index:-10;
}

.aibg.active {
    filter: blur(100px);
    height: calc(100vh - 200px);
    width: calc(100vw - 200px);
    opacity: 1;
    top: 100px;
    right: 100px;
    border-radius: 0vh;
}
iframe#tool {
    height: 477px;
    border: none;
}
#toolframe {
    background: var(--textboxbg);
    padding: 13px;
    height: 66px;
    width: fit-content;
    border-radius: 47px;
	overflow: hidden;
	position:fixed;
	bottom: -60px;
    right: calc(50vw - 280px);
	transition: all 0.4s cubic-bezier(1,0,.64,1);
	pointer-events: none;
	opacity: 0;
	filter:blur(20px);
	backdrop-filter: blur(16px);
}
#toolframe.active {
    height: 503px;
	bottom: 90px;
	pointer-events: auto;
	opacity: 1;
	filter:blur(0px);
	transition: all 0.6s cubic-bezier(.28,0,0,1);
}
.closetool {
    color: #000;
    background: none;
    border: none;
    mix-blend-mode: darken;
    position: relative;
    bottom: 4px;
    left: 255px;
}

iframe{
	background: #fff3;
	border-radius: 39px;
}

@media (prefers-color-scheme: dark) {
	:root{
		--iconbg:#0009;
		--textboxbg:#0006;
		--searchbtn: #ddd;
	--searchbtncolor: #555;
	--textcolor:#fff;
	--textcolor-o: #fff7;
	}
	.bg.active{
		background:#0005;
	}
	.linkbox-label,.linktext,.pill{
		color:#fff;
	}
	#searchButton:hover {
		background: #c7c7c7;
	}
	.linkhistory {
		background: rgba(0, 0, 0, 0.2);
	}
	svg {
		width: 24px;
		height: 24px;
		fill: rgba(0, 0, 0, 0.8);
	}
	#aisearch {
		mix-blend-mode: overlay;
		background: linear-gradient(140deg, rgb(156 200 255 / 80%) 0%, rgb(236 182 255 / 80%) 100%);
	}
	.history{
		color:#fff;
	}
	a{
		color:#fff;
	}
	.deleteicon {
		fill: #ffffff !important;
	}
	#time{
		color:#fff;
	}
	.pillicon{
		background:#0003;
	}
	.plgl{
		fill: #fff !important;;
	}
	.weekday{
		color:#bbb;
	}
	.settingcard{
		color:#fff;
	}
	.settingbtn{
		background:#0009;
		color:#fff;
	}
}